:root {
  font-family:
    "JetBrains Mono",
    monospace;

  background: #141414;
  color: #d8d8d8;

  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #141414;
  color: #d8d8d8;
  min-height: 100vh;
}

button {
  font-family:
    "JetBrains Mono",
    monospace;
}

input,
textarea {
  font-family:
    "JetBrains Mono",
    monospace;
}